  {{group_name}}
<form action="" method="POST">
    {% csrf_token %}



    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Título</label></div>
      <div>{{form.title}}</div>                      
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Description</label></div>
      <div>{{form.description}}</div>                      
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Estado</label></div>
      <div>{{form.complete}}</div>                      
    </div>
</div>


<button class="btn btn-primary" type="submit">Confirmar</button>


</form>



PIN

{{PIN}}</br>

TODAS LAS TAREAS DE LOS USUARIOS DEL GRUPO
{% if tasks %}
<ul>
  
  {% for task in tasks%}
  
  <li>{{task}}

  
  {% if user.username == admin or user in staff %}
  <a href="{% url 'groups:group_task_edit' task.pk %}">Edit</a>
  <a href="{% url 'groups:group_task_delete' task.pk %}">Delete</a>
    
  {% endif %}
    
  </li>
  {% endfor %}
</ul>    
{% endif %}

<ul>
  
  {% for member in members %}
  <li>  {{member}} <a href="{% url 'groups:add_mod' group.pk member.username%}">Editar </a></li>
  {% endfor %}
</ul>



TAREAS DEL USUARIO

{% if user_tasks %}
<ul>
  
  {% for taskd in user_tasks %}
  <li>
    {{taskd}}
    <a href="{% url 'groups:group_task_edit' taskd.pk %}">Edit</a>
    <a href="{% url 'groups:group_task_delete' taskd.pk %}">Delete</a>
    </li>
    {% endfor %}
    
    {% endif %}
  </ul>
  