{% load static %}
{% include "../navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initoial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'groups/groups.css' %}" />

    <title>Document</title>
  </head>
  <body>

    <main>
      <section class="group-entry">
        <!-- Validador para ingresar a un grupo o no -->
        <h3>Unirse a un grupo</h3>
        <form action="" method="post">
          {% csrf_token %}  
          <h4>Ingrese el pin</h4>
          {{form.pin_check}}
          <input class="btn-submit" type="submit" value="Enviar" />
        </form>
      </section>

      <section class="group-list">
        <h3>Lista de grupos</h3>
        {% if groups %} {% for group in groups %}

        <a class="group" href="{% url 'groups:group_index' group.pk %}">{{group}}</a>

        {% endfor %} {% endif %}
      </section>
    </main>
  </body>
</html>
