{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'usuarios/index.css' %}">
    <title>IDK</title>
</head>
<body>
    <div class="main">º
		<div class="card">
			<div class="card-title">
				<h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> User <span id="action_title">Login</span></h3>
			</div>
			<div class="card-body">
				
				<div class="card-body-login">
					<form id="login-form" class="form-login-register" method="POST" action="{% url 'usuario:login' %}">
						{% csrf_token %}
						{{form.username}}
						{{form.password}}
						<input class="submit-form" type="submit" value="Login">
					</form>
				</div>
				<p>¿No tienes una cuenta? <a href="{% url 'usuario:register' %}">Registrate!</a></p>

			</div>
		</div>
	</div>
</body>
</html>