{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'tasks/users.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <span class="main-left-side">
            <div class="main-left-side-users">
                
                {% for datos in data %}
                {% for user in datos %}
                <span class="user-card">

                    <div class="user-card-header">

                        <p><a href="{% url 'user_tasks' user.usuario %}">{{user.usuario}} <i class="fas fa-plus-square"></i></a></p>
                    </div>
                    <div class="user-card-body">

                        <i class="fas fa-check-circle"></i>
                        {{user.ready}}
                        <i class="fas fa-clock"></i>
                        {{user.in_process}}
                        <i class="fas fa-times-circle"></i> 
                        {{user.uninitiated}}
                        
                        
                        {% if user.last_tasks %}
                            
                        
                            {% for i in user.last_tasks reversed %}
                            {{i.title}}
                            {{i.date}}
                            {% endfor %}
                        
                            {% else %}
                            <p>No tasks</p>
                        {% endif %}
                        
                        
                    </div>
                    </span>
                        {% endfor %}
                        {% endfor %}
            </div>
        </span>
        <span class="main-right-side">
            Hola
        </span>
    </div>
</body>
    </html>